<!DOCTYPE html>
<html th:fragment="layout(title, links, scripts, content)" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">

    <!-- Core scripts (jQuery + locale.js) -->
    <th:block th:fragment="scr">
        <!-- jQuery included exactly once -->
        <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
        <!-- Locale script depends on jQuery -->
        <script th:src="@{/js/locale.js}"></script>
    </th:block>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">

    <title th:replace="${title}"></title>

    <!-- Additional links/scripts passed from index.html -->
    <th:block th:replace="${links}" />
    <th:block th:replace="${scripts}" />
</head>

<body>
<!-- Header fragment -->
<header id="navContent" th:replace="~{fragments/header.html :: header(~{::scr})}"></header>

<!-- Main content -->
<div th:replace="${content}"></div>
</body>
</html>