<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <title>Header</title>
</head>
<body>

<header id="navContent" th:fragment="header(scr)">
    <div id="header-content-main">

        <!-- LEFT GROUP -->
        <div class="header-left">
            <a th:href="@{/}" th:text="#{data.homepage}"></a>
        </div>

        <!-- RIGHT GROUP -->
        <div class="header-right">
            <div id="locales-container">
                <div id="locale-img-container">
                    <img th:src="|@{/img}/${#locale}_icon.png|" class="round" id="locale-img" th:alt="|(${#locale})|" />
                </div>
                <span class="text-white" th:text="#{lang.change}"></span>:
                <select id="locales" name="locales" th:with="language=${#locale.language}">
                    <option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(language,'en')}"></option>
                    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(language,'sr')}"></option>
                    <option value="ru" th:text="#{lang.ru}" th:selected="${#strings.equals(language,'ru')}"></option>
                    <option value="de" th:text="#{lang.de}" th:selected="${#strings.equals(language,'de')}"></option>
                    <option value="fr" th:text="#{lang.fr}" th:selected="${#strings.equals(language,'fr')}"></option>
                    <option value="it" th:text="#{lang.it}" th:selected="${#strings.equals(language,'it')}"></option>
                    <option value="es" th:text="#{lang.es}" th:selected="${#strings.equals(language,'es')}"></option>
                    <option value="pt" th:text="#{lang.pt}" th:selected="${#strings.equals(language,'pt')}"></option>
                    <option value="uk" th:text="#{lang.uk}" th:selected="${#strings.equals(language,'uk')}"></option>
                </select>
            </div>
        </div>

    </div>
    <!-- Insert any additional scripts passed from base -->
    <th:block th:replace="${scr}"></th:block>
</header>

</body>
</html>